<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>cat.claudi.ristretto</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-is</string>
        <string>-t</string>
        <string>30</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/var/log/cat.claudi.ristretto/cat.claudi.ristretto.err.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/cat.claudi.ristretto/cat.claudi.ristretto.out.log</string>
    <key>ThrottleInterval</key>
    <integer>1</integer>
  </dict>
</plist>
